<div class="section">
	<div class="two-third">
		<h1><%= @web.title %></h1>
		<p>
			<%= @web.description %>
		</p>
	</div>
	<div class="one-third">
		<% @web.photos.each do |photo| %>
			<%= image_tag photo.image.url(:small) %>
		<% end %>
	</div>
</div>