<div id="sub-navbar">
	<div class="container">
		<div class="padding">
			<%= link_to "brandings", admins_brandings_path %> | <%= link_to "websites", admins_webs_path %> | <%= link_to "photos", admins_photographies_path %> | <%= link_to "misc", admins_portfolios_path %>
		</div>
	</div>
</div>