<div class="ptl">
	<% if @portfolios.count > 0 %>
		<% controller_singular = "photo" %>
		<% index = 0 %>
		<% @portfolios.each do |portfolio| %>
			<% if index % 3 == 0 %>
				<div class="container">
					<div class="padding pvn">
						<div class="section">
							<div class="row">
			<% end %>
								<%= "<div class='project' data-controller='#{controller_singular}' data-id='#{portfolio.id}'><div class='inner'>".html_safe %>
									<%= image_tag portfolio.photos.first.image.url(:small) %>
									</div>
								</div>
			<% if index % 3 == 2  || index == @portfolios.length - 1 %>
							</div>
						</div>
					</div>
				</div>
			<% end %>
			<% index += 1 %>
		<% end %>
	<% else %>
		<div class="container">
			<div class="padding">
				<div class="section">
					<h1>No projects yet!</h1>
				</div>
			</div>
		</div>
	<% end %>
</div>