<%= javascript_include_tag "project" %>
<div class="ptl">
	<% if @brandings.count > 0 %>
		<% index = 0 %>
		<% @brandings.each do |branding| %>
			<% if index % 3 == 0 %>
				<div class="container">
					<div class="padding pvn">
						<div class="section">
							<div class="row">
			<% end %>
								<%= "<div class='project' data-controller='#{controller_name[0..-2]}' data-id='#{branding.id}'><div class='inner' style='background-color:#{branding.photos.first.background_color}'>".html_safe %>
									<%= image_tag branding.photos.first.image.url(:small) %>
									</div>
								</div>
			<% if index % 3 == 2  || index == @brandings.length - 1 %>
							</div>
						</div>
					</div>
				</div>
			<% end %>
			<% index += 1 %>
		<% end %>
	<% else %>
		<div class="container">
			<div class="padding">
				<div class="section">
					<h1>No projects yet!</h1>
				</div>
			</div>
		</div>
	<% end %>
</div>