<div id="header" class="small">
	<div class="container">
		<div class="padding">
			<div class="top">
				<%= link_to root_path do %>
					<img src="/assets/brandologosmall.png"/>
				<% end %>
				<div id="navbar">
					<%= render :partial => "shared/navbar_links" %>
				</div>
			</div>
		</div>
	</div>
</div>