<div class="container">
	<div class="padding">
		<div class="section">
			<table border="0">
				<tr>
					<td valign="top" style="font-size: 12px">
						YMCA<br>
						Lollapalooza<br>
						Ann Taylor<br>
						United States Navy<br>
						Northwestern University<br>
						University of Illinois<br>
						Indiana University<br>
						Northern Michigan University<br>
						Kids These Days<br>
						Horizon Hotel Group<br>
						Associated Students of Monmouth College<br>
						Shawn Marion<br>
						A. Biondi Architects<br>
						ink'n tees<br />
						Warren Township High School<br>
						Highland Park High School<br>
						North Chicago High School<br>
						Antioch High School<br>
						Zion-Benton High School<br>
						Woodland District 50<br>
						Lake Bluff District 65<br>
						Structural Ink<br>
						Association for Career and Technical Education<br>
						McClure's Garage<br>
						Illinois Hoop Stars<br>
						Non-Stop Service<br>
						Global Elite Motoring<br>
						Rags of Gold<br>
						Schroeder Performance
						Green Bay Cycles<br>
						Just Embroidered Totes<br>
						Embroidery Werks<br>
						Anova<br>
						Jae Arteest<br>
						The Frozen Aisle <br>
						PMYECR<br>
						My Eye Doc<br>
						nineteen promo<br>
						Gurnee Riverdogs<br>
						RJF Racing <br>
						The Original K9 Cafe<br>
						Elder Law Attorneys<br>
						Cafe Pettopia<br>
						R. Jones Trucking &amp; Grading<br>
						MorKay Global<br>
						Had2
						Stanford Aerobics &amp; Yoga<br>
						L.A. Geographical Society <br>
						Chicago Stars <br>
						Scoopin' Genesee<br>
						Anna G's<br>
						Superjova <br>
						Lindenfest <br>
						3 Seconds Late <br>
						Bake's Steel Erectors<br>
						Steel Tattoo Studios<br>
						Rifle Tower<br>
						Feel Good Media Services<br>
						Tigris<br>
						Stacey Houston Photography<br>
						Made In June<br>
						Second City Speed Shop<br>
						Smitten Shots Photography<br>
						KERO
					</td>
					<td valign="top" align="right"><img src="assets/clients.png" width="458" height="487" /></td>
				</tr>
			</table>
		</div>
	</div>
</div>