<div class="container">
	<div class="padding">
		<div class="section">
			<div class="row pbl">
				<img src="assets/clients.png" />
			</div>
			<div class="row ptl small-text">
				<div class="one-third" style="width: 294px">
					Lollapalooza<br/>
					YMCA<br/>
					Ann Taylor<br/>
					United States Navy<br/>
					University of Illinois<br/>
					<br/>
					3 Seconds Late<br/>
					A. Biondi Architects<br/>
					Add-2<br/>
					American Academy of Art<br/>
					Anna G's<br/>
					Anova<br/>
					Antioch High School<br/>
					Associated Students of Monmouth<br/>
					Association for Career and Tech Ed<br/>
					Bake's Steel Erectors<br/>
					Bulldog Security<br/>
					Cafe Pettopia<br/>
					Chicago Stars<br/>
					Chris Styles<br/>
					Cuda's Bar & Grill<br/>
					Danny Brown<br/>
					Djemba Djemba<br/>
					Elder Law Attorneys<br/>
					Embroidery Werks<br/>
					Feel Good Media Services<br/>
				</div>
				<div class="one-third" style="width: 294px">
					Gianni Lee<br/>
					Global Elite Motoring<br/>
					Green Bay Cycles<br/>
					Gurnee Riverdogs<br/>
					Had2<br/>
					Highland Park High School<br/>
					Horizon Hotel Group<br/>
					Illinois Hoop Stars<br/>
					Indiana University<br/>
					ink'n tees<br/>
					Jae Arteest<br/>
					Jet Gear<br/>
					Jetsetter Group<br/>
					Just Embroidered Totes<br/>
					KERO<br/>
					Kids These Days<br/>
					L.A. Geographical Society<br/>
					Lake Bluff District 65<br/>
					Lake County Health Department<br/>
					Lindenfest<br/>
					Made In June<br/>
					McClure's Garage<br/>
					MorKay Global<br/>
					My Eye Doc<br/>
					Nadus<br/>
					nineteen promo<br/>
					Non-Stop Service<br/>
					North Chicago High School<br/>
					Northern Michigan University<br/>
					Northwestern University<br/>
					Phosphene<br/>
				</div>
				<div class="one-third" style="width: 294px">
					PMYECR<br/>
					R. Jones Trucking & Grading<br/>
					Rags of Gold<br/>
					Rain Dogs Trucking<br/>
					Rifle Tower<br/>
					RJF Racing<br/>
					Schroeder Performance<br/>
					Scoopin' Genesee<br/>
					Second City Speed Shop<br/>
					Shawn Marion<br/>
					Smitten Shots Photography<br/>
					Stacey Houston Photography<br/>
					Stanford Aerobics & Yoga<br/>
					Steel Tattoo Studios<br/>
					Structural Ink<br/>
					Superjova<br/>
					Sweet Ivory<br/>
					Swizzymack<br/>
					The Frozen Aisle<br/>
					The Original K9 Cafe<br/>
					Tigris<br/>
					Urban Infant<br/>
					Vic Mensa<br/>
					Warren Township High School<br/>
					Woodland District 50<br/>
					Zion-Benton High School<br/>
				</div>
			</div>
		</div>
	</div>
</div>