<div id="header">
	<div class="container">
		<div class="padding" style="padding-bottom:10px">
			<div id="arm">
			</div>
			<div class="top">
				<img class="mbl" src="/assets/brandologobig.png"/>
				<div id="navbar">
					<%= render :partial => "shared/navbar_links" %>
				</div>
			</div>
			<h1>
				Giving your brand the "o"
			</h1>
			<p>
				Less is more — it’s not the size of the brand that counts, but how you use it. Brando offers minimal design with big results.
			</p>
		</div>
	</div>
</div>
<div id="whitespace"></div>
<div id="content">
	<div class="container">
		<div class="padding" style="padding-top:20px">
			<div class="section" style="padding-bottom:10px">
				<div class="two-thirds">
					<h1 style="margin-top:20px">
						Started from the bottom...
					</h1>
					<div class="prxl">
						<p>
							Brando is a graphic designer from Chicago who started his freelance business when he was just 12 years old. Since then he has been sharing his artistic vision with worldwide clientele. He currently works as a freelance artist and is the co-founder and designer of 
							<%= link_to "Jet Gear", "http://getjetgear.com" %>
							 apparel brand.
						</p>
					</div>
				</div>
			</div>
			<div class="section" style="border-top:none;padding-top: 0px">
				<div class="one-third">
					<div class="prl">
						<img src="/assets/indexlolla.png"/>
					</div>
				</div>
				<div class="two-thirds">
					<table class="push-top">
						<tr>
							<td class="prl">
								<p>
									Growing up he studied under his father, Jim Brando, and developed his own styles with his hands and a computer mouse.
								</p>
							</td>
							<td class="pll">
								<p>
									To view Brando's expanded portfolio visit his Brando Art Facebook page. To learn more about Brando, find him on Facebook, follow him on Twitter and connect with him on LinkedIn.
								</p>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="section" style="text-align:center;padding-top:10px;">
				<h3 style="font-weight:bold">Brando has worked with clientele from local to worldwide</h3>
				<img src="/assets/indexclients.png" style="margin:auto"/>
			</div>
		</div>
	</div>
</div>