@font-face {
	font-family: 'NeutraDisplayBold';
	src: url('/assets/neutradisplaybold-webfont.eot');
	src: url('/assets/neutradisplaybold-webfont.eot?#iefix') format('embedded-opentype'),
	url('/assets/neutradisplaybold-webfont.ttf') format('truetype'),
	url('/assets/neutradisplaybold-webfont.svg#NeutraDisplayBold') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	border:0;
	margin:0;
	padding:0;
	text-align: center;
	font-family: Helvetica;
	color: #fff;
	background-color: #282627;
	position: relative;
}

.field input {
	width: 100%;
}

.field textarea {
	width: 100%;
}

a {
	color: #fff;
	text-decoration: none;
}

a:hover {
	color: #6d6e71;
}

h1, h2, h3, h4, h5, p {
	font-weight: 200;
}

table {
	width: 100%;
}

table td.action {
	width:40px;
	text-align: right;
}

table.push-top td{
	vertical-align: top;
}

.container {
	text-align: left;
	width: 1004px;
	margin: auto;
}

.container .padding {
	padding: 30px;
	padding-left: 60px;
	padding-right: 60px;
}

#header{
	background-color: #282627;
}

#header p {
	font-size: 24px;
	width: 570px;
	color: #939598;
	margin-top: 0px;
	line-height: 28px;
}

#header h1 {
	font-size: 48px;
	color: #fff;
	font-weight: bold;
	margin-bottom: 10px;
}

#header .top {
	position: relative;
}

#header.small .container .padding {
	padding:10px;
	padding-left: 60px;
	padding-right: 60px;
}

#header #arm {
	position: absolute;
	margin-left: 90px;
	left: 50%;
	top:120px;
	right:0;
	height: 469px;
	z-index: 0;
	background-image: url("/assets/guy.png");
	background-repeat: no-repeat;
}

#header #navbar {
	position:absolute;
	right:0;
	top:0;
	z-index: 1;
	font-size: 16px;
	font-family: NeutraDisplayBold;
	letter-spacing: 2px;
}

#header.small #navbar {
	top:0px;
	line-height: 62px;
}

#header #navbar .navbar-option {
	float:right;
	color: #6d6e71;
}

#header #navbar .navbar-option + .navbar-option {
	margin-right: 6px;
}

#header .btn {
	margin-top:9px;
	padding-left:20px;
	padding-right:20px;
	background-color: #443c40;
	text-align: center;
	color: #fff;
	font-size: 18px;
	line-height: 36px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

#header .btn:hover {
	background-color: #788d91;
}

#sub-navbar {
	background-color: #788d91;
	color: #414042;
}

#sub-navbar .container .padding {
	padding:15px;
	padding-left: 60px;
	padding-right: 60px;
}

#sub-navbar a:hover {
	color: #414042;
}

#whitespace {
	background-color: #fff;
	height: 7px;
	width: 100%;
}

#content {
	color: #414042;
	background-color: #D1D3D4;
}

#content .container .padding.pvn {
	padding-top: 0px;
	padding-bottom: 0px;
}

#content .container .padding .section {
	padding-bottom: 40px;
	position: relative;
}

#content .container .padding.pvn .section {
	padding-bottom: 13px;
	padding-top: 12px;
}

#content .container .padding .section + .section {
	padding-top: 30px;
	border-top: solid 1px #939598;
}

#content .container .padding .section .one-third {
	float: left;
	width: 33.3%;
}

#content .container .padding .section .one-third img {
	width: 100%;
}

#content .container .padding .section .two-thirds {
	float: left;
	width: 66.6%;
}

#content .container .padding .section .two-thirds table {
	border-spacing:0;
  	border-collapse:collapse;
}

#content .container .padding .section .two-thirds table p {
	font-size: 16px;
}

#content .container .padding .section p a {
	font-weight: bold;
	color: #282627;
}

#content .container .padding .section .two-thirds table td{
	width: 50%;
}

#content .container .padding .section .row:after {
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#content .container .padding .section .row .project {
	background-color: #58595B;
	width:238px;
	height:159px;
	padding:10px;
	float:left;
	cursor: pointer;
}

#content .container .padding .section .row .project:hover {
	background-color: #788d91;
}

#content .container .padding .section .row .project + .project {
	margin-left: 55px;
}

#content .container .padding .section .row .project .inner {
	width:100%;
	height:100%;
	background-color:#fff;
}

#content .container .padding .section .list {
	font-size: 21px;
	padding:25px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #414042;
}

#content .container .padding .section .list table td.drag {
	color: #999388;
	font-size: 32px;
}

#content .container .padding .section .list table td.title {
	font-size:24px;
	width: 580px;
}

#content .container .padding .section .list table td.image {
	padding-top:5px;
	padding-left:20px;
}

.image .inner {
	width: 100%;
}

#content .container .padding .section .list table td {

}

#content .container .padding .section .list.odd {
	background-color:#CCC6BA;
}

#content .container .padding .section .list.even {
	background-color:#B5AFA5;
}

#content .container .padding .section:after {
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#content h1 {
	color: #282627;
	font-size: 32px;
	font-weight: bold;
	margin-top:0;
}

#content h2 {
	color: #282627;
	font-size: 24px;
	margin-top:0;
	margin-bottom:0;
	font-weight: 500;
}

#content p {
	color: #414042;
	font-size: 18px;
	font-weight: 300;
	line-height: 24px;
}

#content #get-started {
	position: absolute;
	right: 0;
	margin-top: 15px;
	height:60px;
	width: 230px;
	line-height: 60px;
	background-color: #788d91;
	text-align: center;
	color: #fff;
	font-size: 32px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#content .btn {
	padding:10px;
	padding-left:20px;
	padding-right:20px;
	background-color: #788d91;
	text-align: center;
	color: #fff;
	font-size: 18px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

#content .btn:hover {
	background-color: #91A5A8;
}

#content hr{
	color: #c5c0b8;
}

#footer {
	color: #ffffff;
	background-color: #282627;
	font-size: 12px;
}

.one-fourth {
	float:left;
	width: 25%;
}

table td.one-fourth {
	width: 25%;
	float:none;
}

table td.one-third {
	width: 268px;
}

table td.one-sixth {
	width: 210px;
}

#footer h1{
	color: #788d91;
	font-size:24px;
	margin:0;
	margin-bottom: 5px;
	font-weight: bold;
}

#footer h2{
	color: #fff;
	font-size:18px;
	margin:0;
}

#footer ul {
	list-style-type: none;
	padding:0;
	font-size: 14px;
}

#footer ul li + li{
	margin-top: 2px;
}

#footer .icon:hover {
	opacity: .6;
	filter: alpha(opacity=60);
}

.small-logo {
	width: 70px;
}

#project-window {
	background-color:#D9D0C1;
	height:0px;
	overflow: hidden;
	margin-top:25px;
	-moz-box-shadow:    inset 0  20px 20px -20px rgba(0,0,0,.8), 
                      inset 0 -20px 20px -20px rgba(0,0,0,.8);
  -webkit-box-shadow: inset 0  20px 20px -20px rgba(0,0,0,.8), 
                      inset 0 -20px 20px -20px rgba(0,0,0,.8);
   box-shadow:        inset 0  20px 20px -20px rgba(0,0,0,.8), 
                      inset 0 -20px 20px -20px rgba(0,0,0,.8);
}

#project-window .padding{
	padding-top: 60px;
	padding-bottom: 80px;
}

#project-window .inner {
	position: relative;
}

#project-window:after{
	content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#project-window .padding:after{
	content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#project-window .inner:after{
	content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#project-window .image{
	width: 571px;
	float: left;
}

#project-window .information {
	width: 253px;
	position:absolute;
	right:0;
	top:0;
	bottom:4px;
	background: #282627;
  background: rgba(0,0,0,0.4); 
	color: #fff;
}

#project-window .information h2 {
	color: #fff;
	font-family: NeutraDisplayBold;
	text-transform: uppercase;
}

#project-window .information p {
	color: #fff;
	font-size:14px;
}